<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <link rel="stylesheet" href="style.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Chuck Norris Voyage 42 Team 8</title>
</head>

<body>

 <header>
  <h1>Chuck Norris Facts!</h1>
  <form action="#">
   <input type="text" name="search" id="search" placeholder="Fact search">
   <select name="categories" id="categories">
    <option value=""> --- Categories --- </option>
    <option value="option1">Option #1</option>
    <option value="option2">Option #2</option>
    <option value="option3">Option #3</option>
    <option value="option4">Option #4</option>
    <option value="option5">Option #5</option>
   </select>
   <button>Search</button>
  </form>
 </header>


 <main>
  <section class="modal" id="modal">
   <img src="https://via.placeholder.com/500x270/FFFFFF?text=Placeholder+Image+Voyage42+Team8" alt="">
   <p>Information about the application and intructions for use / possibly a modal or maybe just a section above!</p>
  </section>

  <section class="fact" id="fact">
   <p>Its always dark when Chuck Norris wakes up cause the sun dares not glare at Chuck Norris.
   </p>
   <button>Get a random fact!</button>
  </section>

 </main>

 <footer>
  <small>Chingu Voyage 42 - Toucans Team 08</small>
 </footer>

</body>

</html>